.cache
.DS_Store
build/*
builddir/*
__pycache__
.ipynb_checkpoints
.vscode
.idea
builddir
imgui.ini
workspace
cli/dist
cli/node_modules
cufile.log
report.md

*.zip

build*
build-*

subprojects/*
!subprojects/packagefiles/
!subprojects/cyberether.wrap
!subprojects/daqiri.wrap
!subprojects/erfa.wrap
!subprojects/filterbankc99.wrap
!subprojects/h5dsc99.wrap
!subprojects/hdf5.wrap
!subprojects/uvh5c99.wrap
!subprojects/vfd-gds.wrap
