.cache
.DS_Store
build/*
builddir/*
__pycache__
.ipynb_checkpoints
.vscode
.idea
builddir
imgui.ini
workspace
cli/dist
cli/node_modules
cufile.log
report.md

*.zip

build*
build-*

submodules/
!*.wrap
!packagefiles
